:root {
  --color-white: #FEFEFE;
  --color-grey: #323232;
  --color-blue: #158FD3;
  --color-bg: rgba(207, 220, 226, 0.25);
  --color-green: #53A138;
  --color-light-green: #D0E3C9;
  --color-yellow: #EEA414;
  --color-light-yellow: #F6E4C0;
  --color-red: #D31515;
  --color-light-red: #F6BBBB;
  --border-color: #E7EFF4;
}
